*
{
	padding: 0px;
	margin: 0px;
}

.navigatin
{
	
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center;
   background: white;
	border-radius: 30px;
}
.navigatin nav
{
flex: 1;
text-align: right;

}
.navigatin nav ul
{

  font-family: Arial;

}
.navigatin nav ul li
{
	display: inline-block;
	margin: 0px -10px 0px 0px 

}
.navigatin nav ul li a
{
	padding: 0px 16px 0px 50px;	
    text-decoration:none;
    color: black;
	border-radius: 10px;
    margin-left: 23px;
    margin-right: 10px;
}
.navigatin nav ul li a:hover
{
	background: #ddd;
}

.logo
{

margin-left: 85px;
}


.shoes
{
	
	    width: 26%;
    height: 312px;
}
.shoespic
{
	
	    height: 312px;
    width: 70%;
}
.shoesdiv
{
	display: flex;
}
.ss
{
	text-align: center;
	margin-top: 131px;

}


.first
{
	width: 50%;
	height: 700px;
	background-color: #ff3b95a6;

}

.second
{
	background-color: white;
    height: 540px;
    margin-top: 4%;
    margin-left: -44%;
    width: 92%;
    border-radius: 23px;
    margin-bottom: 80px;
    border: 5px solid black;
}
.parent
{
	display: flex;
}